    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <%=
                                @celulares = Produto.where("categoria_id = 1")
                                @celulares.count
                            %>
                        </div>
                        <div>Celulares</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalhes</span>
                    <span class="pull-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <%=
                                @celulares = Produto.where("categoria_id = 2")
                                @celulares.count
                            %>
                        </div>
                        <div>Cameras</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalhes</span>
                    <span class="pull-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <%=
                                @celulares = Produto.where("categoria_id = 3")
                                @celulares.count
                            %>
                        </div>
                        <div>Tablet's</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalhes</span>
                    <span class="pull-right"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            <%=
                                @celulares = Produto.where("categoria_id = 4")
                                @celulares.count
                            %>
                        </div>
                        <div>Filmadoras</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalhes</span>
                    <span class="pull-right"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>